@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #131313;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #494848;
}

nav {
    margin: 10px;
    padding: 0 15px;
    border-radius: 30px;
    box-sizing: border-box;
    /* background: linear-gradient(to right, rgb(24 4 6), rgb(47 4 8)); */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    margin-left: auto;
}

nav input {

    width: 500px;

    box-sizing: border-box;

    padding: 10px;

    color: #ffffff;

    background-color: #3333335c;

    border-radius: 50px 0 0 50px;

    border: 1px solid;

    border-right: 0;

    resize: none;
}
#Title>a{
    text-decoration: none;
}
#Title>a>h1{
    
    color: white;
    font-size: 27px;
}
nav input::-webkit-scrollbar {
    display: none;
}

nav input:focus-visible {
    outline: none;
}

nav input::placeholder {

    color: #a1a1a1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

nav .search-bt {
    display: inline;
    z-index: 2;
    position: absolute;
    /* margin-right: -22px; */
    border: 1px solid white;
    padding: 7px 16px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    background-color: #3333335c;
}
nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li img {
    height: 36px;
}

#Title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    color: white;
}

#Title>img {
    height: 50px;
}

#Title h1 {
    font-size: 27px;
}

.wrapper {
    padding: 70px 100px;
    display: flex;
    gap: 40px;
    color: aliceblue;
}

.wrapper>img {
    height: 300px;
    border-radius: 20px;
}

.genres {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.genres li {
    display: inline;
    background-color: #5c5960;
    padding: 5px 10px;
    border-radius: 10px;
}
.buttons img{
    height: 10px;
}
.castMain img {
    height: 100px;
    border-radius: 10px;
}

.castMain {
    padding: 0;
    display: flex;
    gap: 30px;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 50vw;
    height: fit-content;
    list-style-type: none;
}

.castMain::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    width: 30px;
}

.castMain::-webkit-scrollbar-thumb {
    background-color: #461772;

}

.reviews{
    margin: 76px;
    background-color: #050505f0;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 34px;
    gap: 10px;
}
.review{
    
    box-sizing: border-box;
    padding: 31px 10px;
}
.review-auth{
    margin-bottom: 20px;
    font-size: 20px;
}
.buttons, .cast, .cast-header{
    display: flex;
}
.cast-header{
    width: 50vw;
}
.buttons{
    margin-left: auto;
    gap: 10px;
}
.cast{
    gap: 30px;
    flex-direction: column;
}
.buttons>div{
    background-color: #131313;
    padding: 21px 17px;
}
.buttons>div>img{
    height: 15px;
}
.query-list {
    position: absolute;
    border-radius: 20px;
    color: #8a8484;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #333333;
    display: flex;
    width: 550px;
    flex-direction: column;
}