@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #a1a1a1;
    background-color: #131313;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #494848;
}

nav {
    margin: 10px;
    padding: 15px 15px;
    border-radius: 30px;
    box-sizing: border-box;
    /* background: linear-gradient(to right, rgb(24 4 6), rgb(47 4 8)); */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    margin-left: auto;
}

nav input {

    width: 500px;

    box-sizing: border-box;

    padding: 10px;

    color: #ffffff;

    background-color: #3333335c;

    border-radius: 50px 0 0 50px;

    border: 1px solid;

    border-right: 0;

    resize: none;
}
#Title>a{
    text-decoration: none;
}
#Title>a>h1{
    
color: white;
    
font-size: 33px;
}
nav input::-webkit-scrollbar {
    display: none;
}

nav input:focus-visible {
    outline: none;
}

nav input::placeholder {

    color: #a1a1a1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

nav .search-bt {
    display: inline;
    z-index: 2;
    position: absolute;
    /* margin-right: -22px; */
    border: 1px solid white;
    padding: 7px 16px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    background-color: #3333335c;
}
nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li img {
    height: 36px;
}

#Title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    color: white;
}

#Title>img {
    height: 50px;
}

#Title h1 {
    font-size: 27px;
}

.search-categories{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
}
.search-categories>div{
    padding: 14px 0px;
}
.result{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 83px;
}
.result-card{
    display: flex;
    gap: 70px;
}
.poster{
    height: 300px;
}
.name{
    font-size: 21px;
}
.logo{
    height: 100px;
}